{extend name="layout/layout" /}


{block name="content"}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-dark"></i>
                    <span class="caption-subject font-dark bold uppercase">编辑作息时间</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <form action="{:url('admin/'.strtolower($model).'/editPost')}" id="shceduleForm" class="form-horizontal" method="post" enctype="multipart/form-data">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        选择学校
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="schoolId" data-required="1" name="name" value="{$info.name}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        总节数
                                    </label>
                                    <div class="col-md-7">
                                        <input type="number" class="form-control" id="total" max="15" placeholder="只能输入数字，最大15" data-required="1" disabled="disabled" value="{$info.total}">
                                        <input type="hidden" id="total2" name="total">
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn blue add_line" type="button">增加</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row schedule">
                            <div class="col-md-9">
                                <div class="form-group">
                                    {volist name="schedule" id="vo" key="key"}
                                    <div>
                                    {php}
                                        if($key == 1) {echo "<label class='control-label col-md-3'>作息时间</label>";}
                                        else {echo "<label class='control-label col-md-3' style='margin-top: 5px'></label>";}
                                    {/php}
                                    <div class="col-md-1" style='margin-top: 10px'>第{$key}节</div>
                                    <div class="col-md-3" style='margin-top: 5px'>
                                        <input type="time" class="form-control" placeholder="开始时间" data-required="1" name="begin" value="{$vo.start}">
                                    </div>
                                    <div class="col-md-1" style='margin-top: 5px'>-</div>
                                    <div class="col-md-3" style='margin-top: 5px'>
                                        <input type="time" class="form-control" placeholder="结束时间" data-required="1" name="end" value="{$vo.end}">
                                    </div>
                                    {php}
                                        if($key != 1) {echo '<div class="col-md-1" style="margin-top: 5px"><button onclick="del_line(this)" class="btn red delete" type="button">删除</button></div>';}
                                    {/php}</div>
                                    {/volist}
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="id" value="{$info.id}">

                        <hr />
                        <div class="row">
                            <div class="form-actions">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="button" id="form-submit" class="btn blue save-btn">
                                        保存 <i class="fa fa-floppy-o"></i>
                                    </button>
                                    <button type="button" class="btn default" onclick="history.go(-1);">
                                        返回 <i class="fa fa-mail-forward"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{/block}

{block name="pagescript"}
<script>
    var posturl = "{:url('admin/'.strtolower($model).'/editPost')}";
    var schoollist = "{:url('admin/layer/schoolList')}";
</script>
<script src="__STATIC__/admin/pages/js/schedule.js" type="text/javascript"></script>
{/block}