<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      修改分类名称
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-show-when mode="ios">
          <ion-text color="primary">取消</ion-text>
        </ion-show-when>
        <ion-show-when mode="md">
          <ion-icon name="close"></ion-icon>
        </ion-show-when>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content no-padding>
  <ion-item>
    <ion-label position="fixed">新分类名称</ion-label>
    <ion-input name="value" placeholder="新分类名称" required [(ngModel)]="name" #value="ngModel"></ion-input>
  </ion-item>
  <div padding-horizontal margin-top>
    <ion-button expand="full" color="primary" (click)="onSave()" [disabled]="name.invalid">保存</ion-button>
  </div>
</ion-content>
