app-signup {
  .logo {
    width: 33%;
  }
  /* 其他省略 */
  .line {
    height: 1.5px;
    border-width: 1px;
    box-sizing: border-box;
  }
  .full-width {
    width: 100%;
  }

  ion-input.input-normal {
    height: 50px;
    width: 100%;
    color: red;
  }
}