<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>商品详情</ion-title>
    <ion-buttons style="position: fixed;right: 2px;">
      <ion-button expand="clear" (click)="onPresentActionSheet()">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-list style="margin-top: 20px;padding-left: 20px;">
    <ion-item *ngIf="product.images.length===0">
      <img src="assets/img/c_goodspicture.png" alt="">
    </ion-item>
    <ion-item *ngIf="product.images.length!=0">
      <img src="assets/img/a_note.png" alt="">
    </ion-item>
    <ion-item>
      <ion-label>名称</ion-label>
      <ion-note slot="end">{{product.name}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>分类</ion-label>
      <ion-note slot="end">{{product.categoryName}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>条码</ion-label>
      <ion-note slot="end">{{product.barcode}}</ion-note>
    </ion-item>
  </ion-list>

  <ion-list style="margin-top: 20px;padding-left: 20px;">
    <ion-item>
      <ion-label>进价</ion-label>
      <ion-note slot="end" [hidden]="is_hidden" (click)="showPrice()"><span style="font-size: smaller;color: red">查看进价</span></ion-note>
      <ion-note item-end [hidden]="!is_hidden">¥{{product.p_price | number:'1.2-2'}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>售价</ion-label>
      <ion-note slot="end">¥{{product.price}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>规格</ion-label>
      <ion-note slot="end">{{product.spec}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>库存</ion-label>
      <ion-note slot="end">{{product.stock}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer no-padding>
  <ion-toolbar color="primary">
    <ion-item color="primary" lines="none">
      <ion-button expand="full" fill="clear" size="default" color="light" (click)="editStock()" style="width: 48%">
        出/入库
      </ion-button>
      <ion-text style="color: white">|</ion-text>
      <ion-button expand="full" fill="clear" size="default" color="light" (click)="onPresentShareSheet()" style="width: 48%">
        分享
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
