<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>forgotPassword</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    1、输入邮箱或者手机号>2、输入验证码>3、重置密码
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-slides #forgotSlides>
      <ion-slide>
        <div>
          <form #phoneForm="ngForm" novalidate>
            <h3>邮箱/手机号</h3>
            <ion-list>
              <ion-item>
                <ion-input name="username" type="text"  style="width:100%;border: solid 1px" required [(ngModel)]="forgot.username" #username="ngModel"></ion-input>
              </ion-item>
              <ion-text color="danger" text-left *ngIf="username.touched">
                <p [hidden]="!username.errors?.required">请输入您的用户名</p>
              </ion-text>
            </ion-list>
            <div padding-horizontal>
              <ion-button expand="full" color="primary" [disabled]="username.invalid" (click)="checkUsename()">下一步</ion-button>
            </div>
          </form>
        </div>
      </ion-slide>
      <ion-slide>
        <form novalidate>
          <h3>输入验证码</h3>
          <ion-list>
            <ion-item>
              <ion-input slot="start" name="code" type="number" required [(ngModel)]="forgot.code" #code="ngModel"></ion-input>
              <ion-button color="primary" expand="full" slot="end"  (click)="sendCode()" class="full-width" [disabled]="isSend" style="width: 100%">{{msgSend}}</ion-button>
            </ion-item>
            <ion-text color="danger" text-left *ngIf="code.touched">
              <p [hidden]="!code.errors?.required">请输入验证码</p>
              <p *ngIf="codeError == true">短信验证码不正确或者已过期</p>
            </ion-text>
            <ion-item>
              {{forgot.code}}
            </ion-item>
          </ion-list>
          <div padding-horizontal>
            <ion-button expand="full" color="primary" (click)="previous()">上一步</ion-button>
            <ion-button expand="full" color="primary" (click)="onValidateCode()" [disabled]="code.invalid">下一步</ion-button>
          </div>
        </form>
      </ion-slide>
      <ion-slide>
        <form novalidate #userForm="ngForm">
          <h3>重置密码</h3>
          <ion-list>
            <ion-item>
              <ion-input class="input-normal" name="password" type="password" placeholder="请输入登录密码" required [(ngModel)]="forgot.password" #password="ngModel" pattern="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$"></ion-input>
            </ion-item>
            <ion-text color="danger" text-left *ngIf="password.invalid &&  password.touched">
              <p [hidden]="!password.errors?.required">密码不能为空</p>
              <p *ngIf="password.errors?.pattern">密码必须由数字、字母、字符中的两种组成，且长度位于6-16</p>
            </ion-text>
            <ion-item>
              <ion-input class="input-normal" name="confirmPassword" type="password" block placeholder="请输入确认密码" required [(ngModel)]="forgot.confirmPassword" #confirmPassword="ngModel" ></ion-input>
            </ion-item>
            <ion-text color="danger" text-left *ngIf="confirmPassword.touched">
            </ion-text>
          </ion-list>
          <div padding-horizontal>
            <ion-button expand="full" color="primary" (click)="previous()">上一步</ion-button>
            <ion-button expand="full" color="primary" (click)="changePawd()" [disabled]="userForm.invalid">提交</ion-button>
          </div>
        </form>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
