<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>商品分类</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/AddCategory', 0, 'category']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-grid no-padding fixed="true">
    <ion-row no-padding align-items-stretch>
      <ion-col size="5" no-padding color="light">
        <ion-list>
          <ion-item lines="full" color="light">
            <ion-label>大分类</ion-label>
          </ion-item>
          <ion-item lines="full" *ngFor="let category of categories" (click)="onSelectCategory(category)" [ngClass]="{'item-active': category.id === activeCategory.id}">
            <ion-label>{{category.name}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="7" no-padding>
        <ion-list lines="none">
          <ion-item lines="full">
            <ion-label>小分类</ion-label>
          </ion-item>
          <ion-item lines="inset" detail>
            <ion-label>
              无小分类进入大分类
            </ion-label>
          </ion-item>
          <ion-item *ngFor="let subCategory of activeCategory.children" (click)="onSelectSubCategory(subCategory)" lines="inset" detail>
            <ion-label>{{subCategory.name}}</ion-label>
          </ion-item>
          <ion-item detail="false" [routerLink]="['/AddCategory', activeCategory.id, activeCategory.name]">
            <ion-col slot="start" name="add-circle" color="primary"></ion-col>
            <ion-label color="primary">新增小分类</ion-label>
          </ion-item>
        </ion-list>
        <ion-list class="list-footer" lines="none" no-margin >
          <ion-item lines="full">
          </ion-item>
          <ion-item lines="none">
            <ion-text *ngIf="activeCategory.children.length === 0"><h6>目前没有小分类</h6></ion-text>
            <ion-text *ngIf="activeCategory.children.length !== 0"><h6>共{{activeCategory.children.length}}种商品分类</h6></ion-text>
            <ion-button solt="end" expand="clear" (click)="onPresentActionSheet()">
              <ion-icon solt="icon-only" name="more"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
