{extend name="layout/layout" /}

{block name="content"}
<div class="row js-check-wrap">
    <div class="col-lg-12">
        <div class="portlet light">
            <div class="box-header">
                <div class="row">
                    {include file="common:searcharea2" /}
                    <div class="col-md-2">
                        <div class="pull-right">
                            <a href="{:url('admin/'.strtolower($model).'/add')}" class="btn blue btn-circle"><i class="fa fa-plus"></i> 新增课堂</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <form class="js-ajax-form" method="post">
                    <div class="">
                        <table id="data-table" class="table table-bordered table-hover dataTable">
                            <thead>
                                <!--<th>封面图</th>-->
                                <th>课程</th>
                                <th>分类</th>
                                <th>课时数</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </thead>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<input type="hidden" class="datalist_url" value="{:url('admin/microclassroom/index')}">
<input type="hidden" class="edit_url" value="{:url('admin/microclassroom/edit')}">
<input type="hidden" class="delete_url" value="{:url('admin/microclassroom/delete')}">
<input type="hidden" class="classhour_url" value="{:url('admin/microclassroom/classhour')}">
{/block}

{block name="pagescript"}
<script src="__STATIC__/admin/pages/js/microclassroom.js" type="text/javascript"></script>
{/block}