<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>修改-{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <form novalidate #shopForm="ngForm" (ngSubmit)="onSave(shopForm)">
    <ion-list>
      <ion-item>
        <ion-input class="input-normal" placeholder="{{title}}" name="value" [(ngModel)]="value" type="text"></ion-input>
      </ion-item>
    </ion-list>
    <div padding-horizontal>
      <ion-button expand="full" type="submit" color="primary" [disabled]="shopForm.invalid">提交</ion-button>
    </div>
  </form>
</ion-content>
