{extend name="layout/iframe" /}

{block name="content"}
<div class="row js-check-wrap">
    <div class="col-xs-12">
        <div class="box box-success">
            <div class="box-header with-border">
                {include file="common:search" /}
            </div>
            <div class="box-body">
                <form action="{$callback}" class="js-ajax-form post-form" method="post">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover dataTable">
                            <thead>
                                <th>
                                    <input type="checkbox" class="js-check-all" data-direction="x" data-checklist="js-check-x"></label>
                                </th>
                                <th>头像</th>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>出生年月</th>
                                <th>身份证号</th>
                                <th>手机号</th>
                                <th>名族</th>
                                <th>文化程度</th>
                                <th>健康状况</th>
                            </thead>
                            <tbody>
                            {foreach $datas as $data}
                            <tr>
                                <td>
                                    <input type="checkbox" class="js-check" name="ids[]" value="{$data->id}" data-yid="js-check-y" data-xid="js-check-x">
                                </td>
                                <td>
                                    <a href="{$data->avatar}" target="_blank">
                                        <img src="{$data->avatar}" style="width: 40px;height: 40px;"/>
                                    </a>
                                </td>
                                <td>{$data->name}</td>
                                <td>{$data->gender}</td>
                                <td>{$data->birthday}</td>
                                <td>{$data->identityNumber}</td>
                                <td>{$data->mobile}</td>
                                <td>{$data->ethnic->name}</td>
                                <td>{$data->education}</td>
                                <td>{$data->health}</td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>

                    {foreach name="iframeparams" item="param" key="key"}
                    <input type="hidden" name="{$key}" value="{$param}">
                    {/foreach}

                </form>

                <div class="box-footer">
                    {include file="common:paginate" /}
                </div>
            </div>
            <div class="box-footer">
                {if condition="($isIframe)"}
                <button type="button" class="btn btn-success submit-btn">确定</button>
                <button type="button" class="btn btn-default cancel-btn">取消</button>
                {/if}
            </div>
        </div>
    </div>
</div>
{/block}

{block name="pagescript"}
<script>
    // 提交
    $('.submit-btn').on('click', function(){
        $('.post-form').submit();
        close_iframe();
        parent.window.location.reload();
    });

    // 取消
    $('.cancel-btn').on('click', function(){
        close_iframe();
    });

    function close_iframe(){
        //先得到当前iframe层的索引
        var index = parent.layer.getFrameIndex(window.name);
        //再执行关闭
        parent.layer.close(index);
    }
</script>
{/block}