<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>修改-{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <form novalidate #userForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-input class="input-normal" name="password" type="password" placeholder="请输入新密码" required [(ngModel)]="change.password" #password="ngModel" pattern="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$"></ion-input>
      </ion-item>
    </ion-list>
    <div padding-horizontal>
      <ion-button expand="full" color="primary" (click)="onSave()" [disabled]="userForm.invalid">提交</ion-button>
    </div>
  </form>
</ion-content>
