<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>商品列表</ion-title>
    <ion-buttons slot="end">
      <ion-button expand="clear" routerLink="/categoryList">分类</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-searchbar placeholder="请输入商品名称"
                   [(ngModel)]="queryTerm"
                   showCancelButton="false"
                   (onInput)="oninput($event)"
    ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button fill="outline" color="primary" size="small">商品盘点</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-text>总共库存{{this.totalStock}}件，总成本{{this.totalPrice}}元</ion-text>
    <ion-buttons slot="end">
      <ion-button color="syzj" [routerLink]="['/addProduct']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <!--<div *ngIf="product.length === 0">-->
    <!--<img src="/assets/img/commodity_no.png" alt="">-->
  <!--</div>-->
  <ion-list>
    <ion-item lines="full" *ngFor="let p of product" [routerLink]="['/productDetail', p.id]">
      <ion-avatar slot="start"><img src="/assets/img/c_goodspicture.png" alt=""></ion-avatar>
      <ion-label>
        <ion-text><h2>{{p.name}}</h2></ion-text>
        <ion-text color="shzj"><p>{{p.price}}</p></ion-text>
        <ion-text><span>条码：{{p.barcode}}</span><span margin-start="">库存：{{p.stock}}</span></ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="onInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多商品数据...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="下拉可以刷新"
            refreshingSpinner="circles"
            refreshingText="正在加载...">
    </ion-refresher-content>
  </ion-refresher>
</ion-content>
