<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-list>
    <ion-item>
      <ion-label position="fixed">大分类</ion-label>
      <ion-input name="categoryName" placeholder="商品大分类名称" required [(ngModel)]="category.name" #categoryName="ngModel"></ion-input>
    </ion-item>
    <ion-text color="danger" text-left *ngIf="categoryName.invalid &&  categoryName.touched">
      <p [hidden]="!categoryName.errors?.required">分类名称必填</p>
    </ion-text>
    <ion-item-divider>
      <ion-label *ngIf="category.id != 0"><h2>{{category.name}}</h2></ion-label>
    </ion-item-divider>
    <ng-container *ngFor="let c of category.children">
      <ion-item>
        <ion-label position="fixed">小分类</ion-label>
        <ion-input name="categorySubName" placeholder="商品小分类名称" required [(ngModel)]="c.name" #categorySubName="ngModel"></ion-input>
      </ion-item>
      <ion-text color="danger" text-left *ngIf="categorySubName.invalid &&  categorySubName.touched" >
        <p [hidden]="!categorySubName.errors?.required">分类名称必填</p>
      </ion-text>
      <ion-item>
        <ion-item-divider></ion-item-divider>
      </ion-item>
    </ng-container>
  </ion-list>
  <ion-button expand="clear" (click)="onAddSubCategory()">
    <ion-icon name="add-circle" slot="start"></ion-icon>新增小分类
  </ion-button>
  <div padding-horizontal margin-top>
    <ion-button expand="full" color="primary" (click)="save()" [disabled]="category.invalid">保存</ion-button>
  </div>
</ion-content>
