{extend name="layout/layout" /}

{block name="pagecss"}
<style>
    .mt-widget-3 .mt-head {
        margin-bottom: 0;
    }
    .mt-head-icon i {
        font-size: 50px;
    }
    .portlet-body .alert {
        margin: 12px -20px -15px;
    }
    .portlet-body .alert-success {
        background-color: #eee;
        border-color: #eee;
        color: #666666b5;
    }
    .pager .disabled {
        border: 0;
    }
    .pager .number {
        font-size: 40px;
    }
</style>
{/block}

{block name="content"}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-microphone font-dark hide"></i>
                    <span class="caption-subject bold font-dark uppercase"> 快捷操作 </span>
                    <span class="caption-helper"></span>
                </div>
                <div class="actions">

                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue-hoki">
                                <div class="mt-head-icon">
                                    <i class="icon-note"></i>
                                </div>
                                <div class="mt-head-button">
                                    <a class="more" href="{:url('admin/articletoutiao/add')}">
                                        <button type="button" class="btn btn-circle btn-outline white btn-sm"> 角色设置 </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-red">
                                <div class="mt-head-icon">
                                    <i class="icon-basket"></i>
                                </div>
                                <div class="mt-head-button">
                                    <a class="more" href="{:url('admin/product/add')}">
                                        <button type="button" class="btn btn-circle btn-outline white btn-sm"> 添加作息表 </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-green">
                                <div class="mt-head-icon">
                                    <i class="icon-book-open"></i>
                                </div>
                                <div class="mt-head-button">
                                    <a class="more" href="{:url('admin/articleparty/add')}">
                                        <button type="button" class="btn btn-circle btn-outline white btn-sm"> 新增XXX </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-purple">
                                <div class="mt-head-icon">
                                    <i class="fa fa-rebel"></i>
                                </div>
                                <div class="mt-head-button">
                                    <a class="more" href="{:url('admin/povertyproject/add')}">
                                        <button type="button" class="btn btn-circle btn-outline white btn-sm"> 新增XXX </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <!--<i class="icon-share font-dark"></i>-->
                    <span class="caption-subject font-dark bold uppercase"> 用户监控 </span>
                </div>
                <div class="actions">

                </div>
            </div>
            <div class="portlet-body">
                <div>
                    <ul class="pager">
                        <li class="previous">
                            <span class="disabled">
                                今日新增APP用户
                            </span>
                        </li>
                        <li class="next">
                            <span class="disabled number"> {$countData.todayDynamics ?: 0} </span>
                        </li>
                    </ul>
                </div>

                <div class="alert alert-success">
                    累计APP用户数 {$countData.totalDynamics ?: 0}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <!--<i class="icon-share font-dark"></i>-->
                    <span class="caption-subject font-dark bold uppercase"> 留言 </span>
                </div>
                <div class="actions">

                </div>
            </div>
            <div class="portlet-body">
                <div>
                    <ul class="pager">
                        <li class="previous">
                            <span class="disabled">
                                今日新增留言数
                            </span>
                        </li>
                        <li class="next">
                            <span class="disabled number"> {$countData.todayMessages ?: 0} </span>
                        </li>
                    </ul>
                </div>

                <div class="alert alert-success">
                    累计新增留言数 {$countData.totalMessages ?: 0}
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="pagescript"}

{/block}