{extend name="layout/layout" /}

{block name="pagecss"}
<link src="__STATIC__/plugins/datatables/datatables.min.css">
<style>
.table-footer {
    padding: 10px;
}
.table-footer .pagination {
    float: right;
}
</style>
{/block}

{block name="content"}
<div class="row js-check-wrap">
    <div class="col-lg-12">
        <div class="portlet light">
            <div class="box-header">
                <div class="row">
                    {include file="common:search" /}
                    <div class="col-md-2">
                        <div class="pull-right">
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <form class="js-ajax-form" method="post">
                    <div class="">
                        <table id="data-table" class="table table-bordered table-hover dataTable">
                            <thead>
                                <th>留言人</th>
                                <th>留言内容</th>
                                <th>留言时间</th>
                                <th>操作</th>
                            </thead>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<input type="hidden" class="datalist_url" value="{:url('/message')}">
<input type="hidden" class="edit_url" value="{:url('admin/'.strtolower($model).'/edit')}">
<input type="hidden" class="delete_url" value="{:url('admin/'.strtolower($model).'/delete')}">
<input type="hidden" class="detail_url" value="{:url('admin/'.strtolower($model).'/detail')}">
{/block}

{block name="pagescript"}
<script src="__STATIC__/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="__STATIC__/admin/pages/js/message.js" type="text/javascript"></script>
<script type="text/javascript">
    var listurl = "{:url('admin/layer/recordList')}";
    var classlist = "{:url('admin/layer/classList')}";
</script>
{/block}