
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light">
            <div class="portlet-body">
                <div class="">
                    <h3 class="text-center exam-title">  </h3>
                    <div class="text-center">
                        <span>发布方：<span class="exam-organization"></span> </span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span>参与时间： {$info.createDate} </span>
                    </div>
                </div>
                <div class="" style="margin-top: 20px;max-height: 400px;overflow-y: auto;">
                    <p> 您是我们选中的重要用户，我们需要您的帮助与建议，期待您的参与！ </p>
                    <div class="form-body">
                        {foreach name="info.researchresults" item="project" key="key"}
                        <div class="form-group">
                            {php}
                            $options = json_decode($project['option'], true);
                            switch($project['type']){
                                case 1: $type = '单选题'; break;
                                case 2: $type = '多选题'; break;
                                default: break;
                            }
                            {/php}
                            <label>{$project.sorting}、{$project.title} 【{$type}】</label>
                            <div class="md-checkbox-list">
                                {php}$options = json_decode($project['option'], true);{/php}
                                {volist name="options" id="option"}
                                <div class="md-checkbox">
                                    <input type="checkbox" class="md-check" {if condition="(in_array($option['option_NO'], explode(',', $project['answer'])))"}checked="checked"{/if} disabled>
                                    <label>
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        {$option.option_NO}、{$option.option_value}
                                    </label>
                                </div>
                                {/volist}
                            </div>
                        </div>
                        {/foreach}
                    </div>
                    <p> 非常感谢您的意见与建议，我们将不断改进，为您提供更优质的产品和服务！ </p>
                </div>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>
