<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      首页
    </ion-title>
    <ion-buttons slot="end" color="">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="calendar"></ion-icon>
      </ion-button>
      <ion-button color="light">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <img src="./assets/img/androidbanner.png" alt="">
  <ion-grid>
    <ion-row class="compare">
      <ion-col *ngFor="let s of sales">
        <h6>{{s.title}}</h6>
        <h4><span>{{s.current | number: '1.2-2'}}元</span></h4>
        <p>
          {{s.content}}
          <span [ngClass]="{'less-equal': s.current <= s.previous, 'greater': s.current > s.previous}">{{s.current - s.previous | number: '1.2-2'}}</span>
          <ng-container [ngSwitch]="minus(s.current, s.previous)">
            <ion-icon name="arrow-round-up" color="danger" *ngSwitchCase="1"></ion-icon>
            <ion-icon name="arrow-round-forward" color="success" *ngSwitchCase="0"></ion-icon>
            <ion-icon name="arrow-round-down" color="success" *ngSwitchCase="-1"></ion-icon>
          </ng-container>
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="quick-actions">
      <ion-col class="quick-action-item">
        <a class="shortcut" href="">
          <!--<ion-icon name="add"></ion-icon>-->
          <img src="./assets/img/add_salse.png">
          <div>新增商品</div>
        </a>
      </ion-col>
      <ion-col class="quick-action-item">
        <a class="shortcut" href="">
          <img src="./assets/img/add_user.png">
          <div>新增会员</div>
        </a>
      </ion-col>
      <ion-col class="quick-action-item">
        <a class="shortcut" href="">
          <img src="./assets/img/sales_account.png">
          <div>收账记录</div>
        </a>
      </ion-col>
      <ion-col class="quick-action-item">
        <a class="shortcut" href="">
          <img src="./assets/img/a_note.png">
          <div>支出管理</div>
        </a>
      </ion-col>
    </ion-row>
    <ion-row class="quick-actions">
      <ion-col class="quick-action-item">
        <a class="shortcut" href="/categoryList">
          <img src="./assets/img/sales_management.png">
          <div>商品管理</div>
        </a>
      </ion-col>
      <ion-col class="quick-action-item">
        <a class="shortcut" href="">
          <img src="./assets/img/user_management.png">
          <div>会员管理</div>
        </a>
      </ion-col>
      <ion-col class="quick-action-item">
        <a class="shortcut" href="">
          <img src="./assets/img/shop_management.png">
          <div>销售查询</div>
        </a>
      </ion-col>
      <ion-col class="quick-action-item">
        <a class="shortcut" href="">
          <img src="./assets/img/analysis.png">
          <div>智能分析</div>
        </a>
      </ion-col>
    </ion-row>
    <ion-row class="quick-actions">
      <ion-col class="quick-action-item">
        <a class="shortcut" href="">
          <img src="./assets/img/gongying_more.png">
          <div>供应商管理</div>
        </a>
      </ion-col>
      <ion-col class="quick-action-item">
        <a class="shortcut" href="">
          <img src="./assets/img/guandan_more.png">
          <div>挂单</div>
        </a>
      </ion-col>
      <ion-col class="quick-action-item">
        <a class="shortcut" href="">
          <img src="./assets/img/image_addsales.png">
          <div>高级功能</div>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
