{if condition="($admin->type == 1)"}
{$selectarea['cityname']}
<input type="hidden" name="cityId" value="{$admin.cityId}">
<select class="form-control xian"  name="xianId">
    <option value="0">所有区县</option>
</select>

<select class="form-control town"  name="townId">
    <option value="0">所有乡镇</option>
</select>

{elseif condition="($admin->type == 2)"}
{$selectarea['cityname']}->{$selectarea['xianname']}
<input type="hidden" name="cityId" value="{$admin.cityId}">
<input type="hidden" name="xianId" value="{$admin.xianId}">
<select class="form-control town"  name="townId">
    <option value="0">所有乡镇</option>
</select>
{elseif condition="($admin->type == 3) OR ($admin->type == 6)"}
{$selectarea['cityname']}->{$selectarea['xianname']}->{$selectarea['townname']}
<input type="hidden" name="cityId" value="{$admin.cityId}">
<input type="hidden" name="xianId" value="{$admin.xianId}">
<input type="hidden" name="townId" value="{$admin.townId}">
{elseif condition="($admin->type == 4)"}
{$selectarea['cityname']}->{$selectarea['xianname']}->{$selectarea['townname']}->{$selectarea['villagename']}
<input type="hidden" name="cityId" value="{$admin.cityId}">
<input type="hidden" name="xianId" value="{$admin.xianId}">
<input type="hidden" name="townId" value="{$admin.townId}">
<input type="hidden" name="villageId" value="{$admin.villageId}">
{else /}
<select class="form-control city" name="cityId">
    <option value="0">所有市</option>
    {volist name="city" id="vo"}
    <option  value="{$key}">{$vo}</option>
    {/volist}
</select>

<select class="form-control xian"  name="xianId">
    <option value="0">所有区县</option>
</select>

<select class="form-control town"  name="townId">
    <option value="0">所有乡镇</option>
</select>
{/if}


<input type="hidden" class="adminCity" value="{$admin.cityId}">
<input type="hidden" class="adminXian" value="{$admin.xianId}">
<input type="hidden" class="adminTown" value="{$admin.townId}">

<script src="__STATIC__/admin/js/jquery-3.3.1.min.js"></script>
<script>
    $('.city').on('change',function () {
        getList($(this),'xian');
    });
    $('.xian').on('change',function () {
        getList($(this),'town');
    });

    var areaurl = "{:url('admin/layer/getCounty')}";
    function getList(e,type) {
        $('.'+type).html('');
        var name = '';
        if(type == 'xian') {
            name = '所有区县';
            $('.town').html('');
            $('.town').append("<option value='0'>所有乡镇</option>");
        } else if(type=='town') {
            name = '所有乡镇';
        }
        if(e.val() != 0) {
            $.ajax({
                url : areaurl,
                type : 'post',
                dataType : 'json',
                contentType : "application/json; charset=utf-8",
                data : JSON.stringify({'id':e.val()}),
            }).done(function(data) {
                var $item = "<option value='0'>"+name+"</option>";
                for (let i in data){
                    $item += "<option  value='"+i+"' '>"+data[i]+"</option>";
                }
                $('.'+type).append($item);           
            });
        } else {
            $('.'+type).append("<option value='0'>"+name+"</option>");
        }

    }

    switch({$admin.type}) {
        case 1:{
            getList($('.adminCity'),'xian');
            break;
        }
        case 2:{
            getList($('.adminXian'),'town');
            break;
        }
        case 3:{
            break;
        }
        case 4:{
            break;
        }
    }
</script>