<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title slot="end">新增商品</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding color="light">
  <ion-list margin-top>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/img/supplier_icon.png">
      </ion-thumbnail>
      <ion-note>上传图片</ion-note>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">条码<ion-text color="danger">*</ion-text></ion-label>
      <ion-input name="barcode" type="text" required placeholder="输入条形码" ></ion-input>
      <ion-button fill="clear" color="syzj"><ion-icon name="qr-scanner" slot="icon-only"></ion-icon></ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">名称<ion-text color="danger">*</ion-text></ion-label>
      <ion-input name="name" type="text" required placeholder="" ></ion-input>
    </ion-item>
    <ion-item detail routerLink="/categoryList">
      <ion-label position="fixed" slot="start">分类<ion-text color="danger">*</ion-text></ion-label>
      <ion-label type="text">{{categoryName}}</ion-label>
      <ion-input type="hidden" name="categoryName" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">售价<ion-text color="danger">*</ion-text></ion-label>
      <ion-input name="price" type="number" required placeholder="请输入商品售价"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">进价</ion-label>
      <ion-input name="p_price" type="number" required placeholder="请输入商品进价"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">库存</ion-label>
      <ion-input name="stock" type="number" required placeholder="请输入商品库存"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">规格</ion-label>
      <ion-input name="spec" type="text" required placeholder="规格 型号 尺寸"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">备注</ion-label>
      <ion-input name="spec" type="text" required placeholder="请输入商品备注"></ion-input>
    </ion-item>
    <ion-item detail>
      <ion-label position="fixed">供应商</ion-label>
      <ion-label name="spec"  type="text" (click)="presentAlertPrompt()">选择供应商</ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer no-padding>
  <ion-toolbar color="primary">
    <ion-item color="primary" lines="none">
      <ion-button expand="full" fill="clear" size="default" color="light" style="width: 50%;">
        保存
      </ion-button>
      <ion-button expand="full" fill="clear" size="default" color="light" style="width: 50%;">
        继续添加
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
