{extend name="layout/layout" /}

{block name="content"}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">编辑</h3>
                <div class="box-tools">
                    <!--<button class="btn bg-navy btn-sm" data-toggle="tooltip" title="" data-original-title="Back" onclick="history.go(-1);">
                        <i class="fa fa-reply"></i> 返回
                    </button>-->
                </div>
            </div>
            <div class="box-body">
                <form action="{:url('admin/'.strtolower($model).'/editpost')}" class="form-horizontal form validation-form" method="post" enctype="multipart/form-data">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        名称
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="name" data-required="1" name="name" value="{$info.name}" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        上级菜单
                                    </label>
                                    <div class="col-md-9">
                                        <select class="form-control" name="parentId">
                                            {foreach name="parentIds" item="data" key="key"}
                                                <option value="{$key}" {if condition="($key == $info.parentId)"}selected="selected"{/if}>{$data}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        图标
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="icon" name="icon" value="{$info.name}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        链接
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="url" name="url" value="{$info.url|default='#'}" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        参数
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="params" name="params" value="{$info.params}">
                                        <span class="help-block">例如：id=1</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        链接打开方式
                                    </label>
                                    <div class="col-md-9">
                                        <select class="form-control" name="target">
                                            <option value="_self" {if condition="($info.target == '_self')"}selected="selected"{/if}>当前窗口</option>
                                            <option value="_blank" {if condition="($info.target == '_blank')"}selected="selected"{/if}>新窗口</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        排序
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="sorting" name="sorting" value="{$info.sorting}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        状态
                                    </label>
                                    <div class="col-md-9">
                                        <select class="form-control" name="status">
                                            <option value="1" {if condition="($info.status == '1')"}selected="selected"{/if}>作为菜单显示</option>
                                            <option value="2" {if condition="($info.status == '2')"}selected="selected"{/if}>仅做权限</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="id" value="{$info.id}">

                        <hr />

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-9">
                                            <button type="submit" class="btn btn-primary">
                                                保存 <i class="fa fa-floppy-o"></i>
                                            </button>
                                            <button type="button" class="btn btn-default" onclick="history.go(-1);">
                                                返回 <i class="fa fa-mail-forward"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="pagescript"}

{/block}